.container
{
    display: block;
    position: absolute;
    right: 50px;
    color: white;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    top: 50px;
}

.logo
{
    background: url('logo.png');
    height: 60px;
    width: 112px;
}

.moneys a
{
    width: 150px;
    top: 2.5px;
    left: 30px;
    position: relative;
}

.moneys
{
    height: 24px;
    width: 24px;
    background: url('money.png');
}

.health
{
    top: 5px;
    width: 24px;
    height: 24px;
    background: url('health.png');
    position: relative;
}

.arm
{
    width: 24px;
    height: 24px; 
    top: 10px;
    background: url('arm.png');
    position: relative;
}

progress.styled
{
        border-radius: 8px;
        width: 100px;
        height: 14px;
        left:32px;
        top:2.5px;
        position: relative;
}
progress.styled::-webkit-progress-bar
{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
}
progress.styled::-webkit-progress-value
{
        background-color: rgb(204, 62, 62);
        background-image: linear-gradient(rgb(204, 62, 62), rgb(204, 62, 62));
        border-radius: 8px;
}
progress.styled::-moz-progress-bar
{
        background-color: rgb(204, 62, 62);
        background-image: linear-gradient(rgb(204, 62, 62), rgb(204, 62, 62));
        border-radius: 8px;
}

progress.arm
{
        border-radius: 8px;
        width: 100px;
        height: 14px;
        left: 32px;
        top: 2.5px;
        position: relative;
}
progress.arm::-webkit-progress-bar
{
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
}
progress.arm::-webkit-progress-value
{
        background-color: rgb(58, 117, 189);
        background-image: linear-gradient(rgb(58, 117, 189), rgb(58, 117, 189));
        border-radius: 8px;
}
progress.arm::-moz-progress-bar
{
        background-color: rgb(58, 117, 189);
        background-image: linear-gradient(rgb(58, 117, 189), rgb(58, 117, 189));
        border-radius: 8px;
}
